In [33]:
import pandas as pd
import numpy as np

masterImports = pd.read_excel('Data/DETALLE SAINT GOBAIN_copia.xlsx', sheet_name='ENTRADAS 2024')

In [34]:
masterImports.fillna(0, inplace=True)
masterImports.head(2)

,#,Fecha de descarga,BL No.,AID,Origen,REFERENCIA,Puerto de llegada,Contenedor,Tamaño,DMC $125.00,...,TI,Gastos Portuarios,Otros /Flete,Documentacion de aduana,Valor F.O.B.,ASN OK?,excedente,Faltante,Abolladura,Producto afectado
0,1,2024-01-04,SSZ1410999 / SGB202311002,118,BRASIL,SSZ1410999 / SGB202311002,MANZANILLO,TEXU9539902,40,20230702186,...,0.0,47,0.0,25 TI,100599.95,0,0,0,0,0
1,2,2024-01-17,MIA/PTY/E23220,119,ESTADOS UNIDOS,MIA/PTY/E23220,MANZANILLO,724816,26,20230698394,...,0.0,0,15.0,0,15408.92,0,0,0,0,0

# Apartado de Imports

Acumulado

In [35]:
totalCajas = int(masterImports['CAJAS'].sum())
totalCBM = float(masterImports['CBM'].sum())
totalPaletas = int(masterImports['Total Paletas'].sum())
palSKU = int(masterImports[ 'PALETAS 1 SKU'].sum())


print('Total de cajas: ', totalCajas)	
print('Total de CBM: ',  totalCBM)
print('Total de Paletas: ', totalPaletas)

Total de cajas:  111765
Total de CBM:  721.5899999999999
Total de Paletas:  728

Cuadro de Embarques

In [70]:
fechaDescarga = masterImports['Fecha de descarga']
fechaDescarga = fechaDescarga.dt.strftime('%B')  # Formatear la fecha para obtener solo el mes y el año

# Crear la tabla pivote con los meses como columnas
contRecibidos = pd.pivot_table(masterImports, index=fechaDescarga, columns='Tamaño', values='#', aggfunc='count').fillna(0)
contRecibidos = contRecibidos.transpose()

contRecibidos

Fecha de descarga  April  August  February  January  July  March  May
Tamaño
20                   0.0     1.0       2.0      0.0   1.0    0.0  0.0
26                   3.0     0.0       0.0      2.0   0.0    0.0  0.0
40                   2.0     2.0       0.0      2.0   4.0    4.0  5.0
LCL                  0.0     1.0       0.0      0.0   3.0    0.0  0.0

In [73]:
cont